{% extends 'base.html.twig' %}

{% block title %}Wilder index{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <h1 class="text-center">Wilder index</h1>


<div class="results">
        {% for wilder in wilders %}



            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h4 class="card-title text-center">{{wilder.name}}</h4>
                    <img class="card-img-top tinypict" src="{{ wilder.picture }}" alt="Card image cap">
                    <h5 class="text-center">{{ (wilder.performance.name) }}</h5>
                    <img class="card-img-top tinypict " src="{{ wilder.performance.picture }}" alt="Card image cap">
                    <h5 class="text-center">{{ (wilder.performance.type.name) }}</h5>
                    <a href="{{ path('wilder_show', {'id': wilder.id })}}" class="btn btn-light">show</a>
                    <a href="{{ path('wilder_edit', {'id': wilder.id}) }}">edit</a>
                </div>
            </div>



        {% else %}
                <p colspan="4">no records found</p>
        {% endfor %}

</div>
    {{ knp_pagination_render(wilders) }}
    <a href="{{ path('wilder_new') }}">Create new</a>
{% endblock %}
