{% include 'base.html.twig' %}
{% block body %}
{% include 'navbar.html.twig' %}
    <div class="container-fluid">

<h1 class="text-center">Leaderboard</h1>
        <h2 class="text-center">Pour l'instant c'est {{ users[0].username }} qui gagne la place gratuite avec {{ users[0].score }} points</h2>
        <table class="table scoreboard">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
    </tr>
    </thead>
    <tbody>
{% for user in users %}
    <tr>
        <th >{{ (loop.index) }}</th>
        <td>{{ user.username }}</td>
        <td>{{user.score}}</td>
    </tr>

{% endfor %}
    </tbody>
</table>
    </div>

{% endblock %}
